<h1>(自分の題名)</h1>
<h3>新規投稿ページ</h3>
<%=form_for @flower do |f| %>


  <div class="field">
    <%= f.label :"body" %>
    <%= f.text_field :body, :size => 140 %>
  </div>

 
  <div class="field">
    <%= f.label :"image" %>
    <%= f.file_field :image %>
  </div>

  <%= f.submit "Tweetする" %>
  <% end %>
  
  <%= link_to "一覧に戻る", flowers_path %>