<div class="box14">
<h3>新規投稿ページ</h3>
</div>
<%= form_for @flower do |f| %>

  <div id="T">
<div class="field">
    <%= f.label :"body" %>
    <%= f.text_field :body, :size => 40 %>
  </div>

 


 <div class="G">
  <%= f.label "image" %>
  <%= f.file_field :image, :size => 40 %>
   </div>
   </div>

   <%= f.submit "tweetする" %>
  </div>
   
   <link href='https://fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css'>
   <% end %>
   </div>


