<!DOCTYPE html>
<html>
  <head>
    <title>Book</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
   
  </head>


  <body>
  <header>
  <div class="header-list">

          <%= link_to root_path do %>
           Homepage
          <% end %>
       
        <ul>
            <% if admin_signed_in? %>
              <li>                              
                          <p>sign in as</p>
                          <p><%= current_admin.email %></p>
                       
                          <%= button_to destroy_admin_session_path, data: { turbo_method: :delete } do %>
                            Sign out
                          <% end %>
                        
              </li>
            <% elsif user_signed_in? %>
              <li>                        
                          <p>Signed in as</p>
                          <p><%= current_user.email %></p>
                        
                       
                          <%= link_to edit_user_registration_path do %>
                            Account settings
                          <% end %>               
                    
                          <%= button_to destroy_user_session_path, data: { turbo_method: :delete } do %>
                            Sign out
                          <% end %>

              </li>
            <% else %>
              <li>
                <%= link_to "Sign Up", new_user_registration_path %>
              </li>
              <li>
                <%= link_to "Sign In", user_session_path %>
              </li>
            <% end %>
          </ul>
      

  <% if flash[:notice] %>
   
      <%= notice %>
   
  <% end %>
  <% if flash[:alert] %>
   
      <%= alert %>
    
  <% end %>

  <li class='text-white no-underline'>
  <%= link_to products_path do %>
   商品一覧
  <% end %>
</li>

<div class="bg-white p-6  md:mx-auto">
  
 
      <%= link_to users_orders_index_path do %>
       
          Go order history
        
      <% end %>
   
</div>
  
<div class="py-1">
  <%= link_to edit_user_registration_path do %>
    Account settings
  <% end %><br>
  <%= link_to users_orders_index_path do %>
    Order Histories
  <% end %>
</div>

<li class='px-4 text-white no-underline'>
  <%= link_to admin_products_path do %>
    管理者用商品
  <% end %>
</li>

<li class='px-4 text-white no-underline'>
  <%= link_to admin_users_index_path do %>
顧客一覧
  <% end %>
</li>


  
  </header>
  <main>
  <%= yield %>
  </main>
  </body>
  
</html>





